.container{
margin-bottom: 60px;
}
.carousel-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF5898 0%,#ff136f 100%);
    color:#fceae8;
    border:none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}